ErrorDocument 404 /404.php

# Aktifkan mod_rewrite (biasanya sudah aktif di Laragon/XAMPP)
RewriteEngine On

# Jika file atau folder tidak ditemukan, arahkan ke 404.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /404.php [L]
